.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}


#blogtitle {
    font-size: 6rem;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(
        --text-gray
    );
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    position: absolute;
    bottom: 0px;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}
@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
    .footer-bottom {
       display: flex;
       flex-direction: column-reverse;
       align-items: space-between;
       justify-content: center;
       margin: 0 auto;
   }
}
